.LiveWorkout {
  display: block;
  margin-top: 56px;
  width: 100%;
}

.workout-header {
  text-align: center;
  line-height: .5;
  padding: 25px 0;
}

.workout-btns {
  display: flex;
  justify-content: space-around;
  padding: 0 20% 35px;
}
