.Home {
  display: block;
  margin-top: 56px;
  width: 100%;
  color: white;
}

#quick-start-mode, #custom-workout-mode {
  height: calc(75vh - 50px);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .hero-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mode-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#quick-start-mode {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/hFOGVvg.jpg");
}

#custom-workout-mode {
  margin-top: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/B3QAiyg.jpg");
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #quick-start-mode {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/8T87QhA.jpg");

    }
    #custom-workout-mode {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/j5Da6py.jpg");
    }
}
