@import '../../../styles/variables';

.WorkoutBuilder {
  display: block;
  margin-top: 56px;
  width: 100%;
  min-height: 100vh;
  background-color: $brand-black;
}

.workout-builder-header {
  text-align: center;
  padding: 25px 10%;
  color: white;
  h2 {
    font-size: 2.8rem;
  }
}

.form-group {
  font-size: 1.3rem;
}

.custom-workout-btns {
  display: flex;
  justify-content: space-around;
  padding: 45px 10%;
}

.select-exercise-alert {
  background-color: red;
  border: red;
  color: white;
  border-radius: 0;
  margin-bottom: 0;
}
